.contenu{
    width: 50%;
    margin:auto;
    margin-top:15%;
    color : white;
    text-align: center;
}

.compteur{
    border : 3px solid white;
    font-size: 2em;
    padding-left : 30px;
    padding-right: 30px;
}

@media only screen and (max-width: 600px) {
    .contenu{
        width: 80%;
    }
}